.jumbotron {
    text-align: center;
    background: none;
}

h1 {
    font-size: 1.75rem;
    font-weight: bold;
}

p {
    font-size: 1.25rem;
    font-weight: bold;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2em;
    /* margin: 0px 15px; */
}

.fitThis {
    margin: 0px 15px 0px 15px;
    max-width: -moz-available;
}

.sectionDark {
    background-color: #cccccc;
    padding: 1rem;
    margin: 0px 15px;
}

.coolStuffWrapper {
    margin-top: 20px;

}

button.coolStuffBtn {
    background-color: #298bb0;
    color: white;
    display: block;
    margin: auto;
    max-width: 175px;
    padding: 10px;
    font-weight: bold;
}

h5.modal-title {
   margin: auto; 
}

.modalFormWrapper {
    padding: 2rem;
}

.imgCenter {
    display: block;
    margin: auto;
}

.btnCenter {
    display: block;
    margin: 1rem auto;
    background-color: #298bb0;
    color: white;
    font-weight: bold;
}

.btnCenter2 {
    width: 228px;
}

h1.display-4 {
    font-weight: bold;
}

p.lead {
    font-weight: bold;
}

div.modal-content p {
    display: block;
    background-color: black;
    text-align: center;
    padding: .5rem;
    color: white;
    margin: 0;
}

img.footerImg {
    padding: 15px 15px;
}

footer.footerStyle {
    background-color: #262c3a;
    margin: 0px 15px;
}

.footerAlign {
    text-align: left;
}